<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block head %}
        <title>Загаловок</title>
    {% endblock %}
</head>
<body>
    <div class="layout">
        <center>
            {% block content %}

            {% endblock %}
        </center>
    </div>


    <script src="{{ url_for('static', filename='js/jquery-3.4.1.slim.min.js') }}"></script>
    <script>
        function layout_size() {
            var layout = $('.layout');

            layout.css({'top': ($(window).height() - layout.height()) / 2});
            layout.css({'left': ($(window).width() - layout.width()) / 2});
            layout.css({'display': 'block'});
        };

        window.onresize = layout_size;

        layout_size();
        
    </script>

    {% block script %}

    {% endblock %}
</body>
</html>