@font-face {
    font-family: "Comfortaa";
    src: url("/static/fonts/Comfortaa-Regular.ttf");
}

* {
    font-family: "Comfortaa" !important;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.layout {
    position: absolute;
    width: 50%;
    display: none;
}

@media (max-width: 680px) {
    .layout {
        position: absolute;
        width: 90%;
    }
}