{% extends 'base/layout.html' %}

{% block head %}
<title>Выберите тип тренировки</title>
{% endblock %}


{% block content %}

<h1>Bыберите тип тренировки</h1>

{% if error %}
    <div class="alert alert-danger" >{{ error }}</div>
{% endif %}

<select id="select" class="form-control mt-3 mb-3">
    <option value="powers" selected="">Cтепени двойки</option>
    <option value="systems">Системы счисления</option>
</select>

<form action="/choose" method="post" id="powers">
    <input type="hidden" name="type" value="powers">

    <label for="range" class="float-start" id="label-range">Максимальная степень: 15</label>
    <input type="range" min="10" max="20" step="5" class="form-range w-100" id="range" name="range">

    <input type="submit" value="Начать!" class="btn btn-primary">
</form>

<form action="/choose" method="post" id="systems" style="display: none;">
    <input type="hidden" name="type" value="systems">
    
    <label for="system-from" class="float-start mb-2">Основание исходной системы счисления:</label>
    <input class="form-control w-100 mb-2" type="number" min="2" max="36" placeholder="Число от 2 до 36" id="system-from" name="system-from" required="">

    <label for="system-to" class="float-start mb-2">Основание системы счисления ответа:</label>
    <input class="form-control w-100 mb-2" type="number" min="2" max="36" placeholder="Число от 2 до 36" id="system-to" name="system-to" required="">

    <input type="submit" value="Начать!" class="btn btn-primary">
</form>

{% endblock %}


{% block script %}

<script src="{{ url_for('static', filename='js/choose.js') }}"></script>

{% endblock %}