{% extends 'base/layout.html' %}

{% block head %}
<title>Системы счисления</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/systems.css') }}">
<script>var system_from = {{ system_from }}; var system_to = {{ system_to }};</script>
{% endblock %}



{% block content %}

<div id="result" class="mb-3" style="display: none;"></div>

<h1 id="full-task"><span id="task"></span><sub>{{ system_from }}</sub></h1>

<div class="form-group row no-collapse">
    <div class="col-sm-9 mb-3">
        <input type="text" id="answer" placeholder="Число с основанием {{ system_to }}" class="form-control w-100">
    </div>
    
    <div class="col-sm-3">
        <button class="btn btn-primary w-100" onclick="check_answer(system_from, system_to)">Проверить!</button>
    </div>
</div>

<p class="mt-2" id="statistics">Bерно решено: 0 из 0</p>

{% endblock %}



{% block script %}
    
<script src="{{ url_for('static', filename='js/systems.js') }}"></script>
<script src="{{ url_for('static', filename='js/sessionstorage.js') }}"></script>
{% include 'include/home.html' %}

{% endblock %}